<footer>
  <div class="container text-center">
    <p class="pull-left">© 2018 myTimeMachine GmbH. All Rights Reserved</p>
    <ul class="pull-right list-inline">
      <li>Release
        <%= releaseversion %>
      </li>
      <li>
        <a href="https://github.com/migaman/mytimemachine-playground">GitHub Project</a>
      </li>
      <li>
        <a href="https://github.com/migaman/mytimemachine-playground/issues">Issues</a>
      </li>
    </ul>
  </div>
</footer>

<script src="/javascripts/web3.min.js"></script>
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/example.js"></script>